body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(107, 101, 101);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.cap {
  width: 30px;
  height: 10px;
  background: rgb(240, 236, 236);
  border-radius: 5px 5px 0 0;
}
.battery {
  position: relative;
  width: 80px;
  height: 200px;
  border: 2px solid rgb(240, 236, 236);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.charging-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  animation: raiseup 5s forwards ease-in;
}
.fa-bolt {
  color: white;
  font-size: 2rem;
  z-index: 5;
  animation: infinite pulse 1s ease-in-out;
}
@keyframes raiseup {
  0% {
    height: 0%;
    background: red;
  }
  50% {
    background: yellow;
  }
  100% {
    height: 100%;
    background: green;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
